<title>BIL 481 Homework 1</title>
  <h1>Closest Emergency Points Calculator</h1>
      <small>There are emergencies in the city and an emergency unit have to choose among them to interfere. In this case, we are assuming the emergency unit is interfering to closest k emergencies</small><br>

      
  


  Shortest emergency points are {{result}}
  <form action="" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="15"></textarea>
        <textarea name="input3" rows="10" cols="15"></textarea>
        <br>
        <input type="submit">
  </form>

  
